.flex {
    display: flex;
}
.portfolio-page .scroll-down {
    margin-left: -60px;
}

.portfolio-content {
    position: relative;
    margin-bottom: 30px;
}

.home-page {
    padding-top: 15px;
}

.home-page .portfolio-content {
    margin-bottom: 15px;
}

.portfolio-content figure {
    margin: 0;
}

.portfolio-content figure img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.portfolio-content .entry-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s;
}

.portfolio-content:hover .entry-content {
    visibility: visible;
    opacity: 1;
}

.portfolio-content h3 {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.home-page .portfolio-content h3 {
    font-size: 2.25rem;
}

.portfolio-content h3 a {
    color: #191919;
    text-decoration: none;
}

.portfolio-content ul {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
}

.portfolio-content li {
    margin: 0 3px;
}

.portfolio-content li a {
    font-size: 0.875rem;
    color: #a6a6a6;
}

@media screen and (min-width: 768px) {
    .home-page {
        padding: 0;
    }

    .home-page .portfolio-content {
        margin-bottom: 0;
    }
}